<br><br><br>
<div class="mdui-container">
  <div class="mdui-row">
    <div class="mdui-col-sm-12 mdui-col-md-8">

      <div class="mdui-card">
        <div class="mdui-card-header" routerLink="/music-list">
          <img class="mdui-card-header-avatar" src="//gw.alicdn.com/tps/i1/T19LocFghXXXXsGF3s-640-640.png"/>
          <div class="mdui-card-header-title">虾米音乐榜</div>
          <div class="mdui-card-header-subtitle">1</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//gw.alicdn.com/tps/i1/T1qMgSFlxkXXXsGF3s-640-640.png"/>
          <div class="mdui-card-header-title">虾米原创榜</div>
          <div class="mdui-card-header-subtitle">2</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1RTkfNVXXXXXdXFXXXXXXXXXX-290-290.png"/>
          <div class="mdui-card-header-title">Hito中文排行版</div>
          <div class="mdui-card-header-subtitle">3</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1GMQvNVXXXXbwXXXXXXXXXXXX-290-290.png"/>
          <div class="mdui-card-header-title">香港劲歌金榜</div>
          <div class="mdui-card-header-subtitle">4</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB11FsrNVXXXXabXpXXXXXXXXXX-290-290.png"/>
          <div class="mdui-card-header-title">英国UK单曲榜</div>
          <div class="mdui-card-header-subtitle">5</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1EqgvNVXXXXbPXXXXXXXXXXXX-290-290.png"/>
          <div class="mdui-card-header-title">Billboard单曲榜</div>
          <div class="mdui-card-header-subtitle">6</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB17O3cNVXXXXa0XFXXXXXXXXXX-290-290.png"/>
          <div class="mdui-card-header-title">Oricon公信单曲榜</div>
          <div class="mdui-card-header-subtitle">7</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1K.ErNVXXXXXcXpXXXXXXXXXX-290-290.png"/>
          <div class="mdui-card-header-title">M-net综合数据周榜</div>
          <div class="mdui-card-header-subtitle">8</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1nUn_NVXXXXX4XVXXXXXXXXXX-330-330.png"/>
          <div class="mdui-card-header-title">陌陌试听榜</div>
          <div class="mdui-card-header-subtitle">9</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1nmf7NVXXXXbFXVXXXXXXXXXX-330-330.png"/>
          <div class="mdui-card-header-title">音乐风云榜</div>
          <div class="mdui-card-header-subtitle">10</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1mrUbNVXXXXaFXVXXXXXXXXXX-330-330.png"/>
          <div class="mdui-card-header-title">微信分享榜</div>
          <div class="mdui-card-header-subtitle">11</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1h1oaNVXXXXXrXVXXXXXXXXXX-330-330.png"/>
          <div class="mdui-card-header-title">微博分享榜</div>
          <div class="mdui-card-header-subtitle">12</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1tK7cNVXXXXXgXVXXXXXXXXXX-330-330.png"/>
          <div class="mdui-card-header-title">大虾试听榜</div>
          <div class="mdui-card-header-subtitle">13</div>
        </div>
      </div>
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="//img.alicdn.com/tps/TB1KQseNVXXXXbfXFXXXXXXXXXX-330-330.png"/>
          <div class="mdui-card-header-title">歌单收录榜</div>
          <div class="mdui-card-header-subtitle">14</div>
        </div>
      </div>

    </div>
  </div>
</div>
